<ion-view>
	<ion-header-bar class="bar-positive navbar navbar--dark">
		<div class="navbar__actions">
			<button class="navbar__action navbar__action--back" ng-click="$ionicGoBack()">
				<span>Back</span>
			</button>
		</div>
		<div class="navbar__title">Interest Settings</div>
	</ion-header-bar>
<ion-content class="has-header">
	<br>
  <div class="list">
      
      <li class="item item-toggle"  ng-repeat="int in interests" style="padding: 8px;border-width:0px;border-style:none;">
        <label class="item item-radio interest item-text-wrap" >

            <ion-toggle name="group" class="no-bottom-padding" style="color:#444;font-size:16px;padding:8px!important;border-width:0px;border-style:none;"
              ng-model="int.Checked" ng-checked="int.Checked" ng-change="saveInterest({{int.InterestId}},{{int.Checked}},{{$index}})">
						<i class="circle_icon_pane_dash fa fa-paint-brush font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 1"></i>
						<i class="circle_icon_pane_dash fa fa-shopping-cart font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 2"></i>
						<i class="circle_icon_pane_dash fa fa-desktop font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 3"></i>
						<i class="circle_icon_pane_dash fa fa-android font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 7"></i>
						<i class="circle_icon_pane_dash fa fa-futbol-o font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 8"></i>
						<i class="circle_icon_pane_dash fa fa-laptop font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 9"></i>
						<i class="circle_icon_pane_dash fa fa-comments font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 11"></i>
						<i class="circle_icon_pane_dash fa fa-briefcase font-size16" style="padding-right: 0px;" ng-if="int.InterestId == 12"></i>
						<i class="circle_icon_pane_dash fa fa-floppy-o font-size16" style="padding-right: 0px;" ng-if="int.InterestId > 12"></i>
                &nbsp;&nbsp;{{int.InterestName}}
            </ion-toggle>
        </label>
    </li>
  </div>
</ion-content>
</ion-view>
