
<ion-modal-view>
    <ion-content>
      <div class="dialog">
						<div class="dialog__box">
							<div class="dialog__content">
								<h2>Transaction Authentication Method</h2>
								<p>Please choose a preferred method for confirming your banking transactions from the options below.</p>
								<div class="form__actions form__actions--nopadding">
                  <!-- <centre> -->
                  <!-- <input type="submit" class="btn btn--primary btn--1-2" value="PIN" ng-click="pinOptionSelected()"> -->
									<input type="submit" class="btn btn--primary btn--1-2 btn--token" value="TOKEN" ng-click="tokenOptionSelected()">
                <!-- </centre> -->
                </div>
							</div>
						</div>
					</div>
    </ion-content>
  </ion-modal-view>
