<ion-view>
	<ion-header-bar class="bar-positive navbar navbar--dark">
		<div class="navbar__actions">
			<button class="navbar__action navbar__action--back" ng-click="$ionicGoBack()">
				<span>Back</span>
			</button>
		</div>
		<div class="navbar__title">Change Password</div>
	</ion-header-bar>
	<ion-content class="has-header">
		<input type="text" disabled="disabled">
		<div id="app">
			<header>
			</header>
			<section class="start-bottom">
				<div class="content">
					<form class="form form--register" id="register">
						<!-- <div class="form__item"> -->
            
						<div class="form__item">
							<input type="password" id="newPass" autocomplete="off" ng-model="data.NewPassword" ng-class="{'is-filled':data.NewPassword}">
							<label for="newPass">New Password</label>
						</div>
						<div class="form__item">
							<input type="password" id="cNewPass" autocomplete="off" ng-model="data.ConfirmPassword" ng-class="{'is-filled':data.ConfirmPassword}">
							<label for="cNewPass">Confirm Password</label>
						</div>
						<div class="form__actions">
							<input type="submit" class="btn btn--primary" value="Continue" ng-click="changePassword()">
						</div>
					</form>
				</div>
			</section>
		 </div>
	</ion-content>
</ion-view>
