<ion-view>
 <ion-header-bar class="bar-positive navbar navbar--dark">
  <div class="navbar__actions">
   <button class="navbar__action navbar__action--back" ng-click="$ionicGoBack()">
    <span>Back</span>
   </button>
  </div>
  <div class="navbar__title">Forgot Password?</div>
 </ion-header-bar>
 <ion-content class="has-header">
  <input type="text" disabled="disabled">
  <div id="app">
   <header>
   </header>
   <section class="start-bottom">
    <div class="content">
     <form class="form form--register" id="register">
       <div class="form__item">
        <input type="text" id="accessCode" autocapitalize="none" autocomplete="off" ng-model="data.AccessCode" ng-class="{'is-filled':data.AccessCode}">
        <label for="userId">Access Code</label>
       </div>
       <div class="form__item">
        <input type="text" id="userName" autocapitalize="none" autocomplete="off" ng-model="data.Username" ng-class="{'is-filled':data.Username}">
        <label for="userName">Username</label>
       </div>
       <div class="form__item">
        <input type="text" id="tokenCode" autocapitalize="none" autocomplete="off" maxlength="6" ng-model="data.TokenCode" ng-class="{'is-filled':data.TokenCode}">
        <label for="tokenCode">Token Code</label>
       </div>
       <div class="form__actions">
        <input type="submit" class="btn btn--primary" value="Continue" ng-click="forgotPassword()">
       </div>
      </form>
     </div>
    </section>
   </div>
 </ion-content>
</ion-view>
